[Unit]
Description=Minecraft Home Server

[Service]
ExecStart=/usr/local/sbin/mc-home-server/scripts/start.sh
ExecStop=/usr/local/sbin/mc-home-server/scripts/stop.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
