[Unit]
Description=Minecraft Home Server

[Service]
ExecStart=/usr/local/sbin/mc-home-server/start.sh
ExecStop=/usr/local/sbin/mc-home-server/stop.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
